@use "reset";
@use "variables" as *;

// Setup
body {
  font-size: 100%;
  font-family: $normal;
  color: $dark-grayish-blue;
  background-color: $cream;
  padding: 1em;
}

// Layout
.component {
  margin: 0 auto;
  max-width: 25rem;
  border-radius: 10px;
  background-color: $white;
  overflow: hidden;
  section {
    padding: 25px;
  }
  button {
    width: 100%;
    height: 3em;
    background-color: $dark-cyan;
    border: none;
    border-radius: 7px;
  }
}

// Typography
h2 {
  font-family: $special;
  font-size: 2em;
  color: $very-dark-blue;
  line-height: 1em;
}
p {
  font-size: $body-copy;
}
.subhead {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.price {
  font-family: $special;
  font-size: 2em;
  color: $dark-cyan;
  s {
    font-family: $normal;
    font-size: 0.4em;
    color: $dark-grayish-blue;
  }
}
button {
  font-weight: 700;
  color: $white;
}
