@use "base" as *;

body {
  display: flex;
  flex-direction: column;
}

#rating-component {
  margin: auto;
  display: grid;
  gap: 1em;

  div {
    // create equal spacing between radio options
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    label {
      font-weight: 700;
      background-color: $transparent-grey;
      // center the text
      display: flex;
      justify-content: center;
      align-items: center;
      // make the radio labels circular
      border-radius: 100em;
      aspect-ratio: 1;
      // change the color when hovered
      &:hover {
        background-color: $light-grey;
        color: $white;
        cursor: pointer;
      }
      // change the color when checked
      &:has(> input[type="radio"]:checked) {
        background-color: $orange;
        color: $white;
      }
    }

    input[type="radio"] {
      display: none;
    }
  }

  button {
    font-weight: 700;
    margin-top: 1em;
  }
}

.result {
  text-align: center;

  p.result {
    color: $orange;
    background-color: $transparent-grey;
    border-radius: 100em;
    margin: 0.6em auto;
    padding: 0.4em 1em;
  }

  img {
    justify-self: center;
  }
}
