// Variables
// --typography
$body-font: "Work Sans", Arial, Helvetica, sans-serif;
$header-font: "Sora", Arial, Helvetica, sans-serif;
// --colors
$dark-blue: #011828;
$light-blue: #078eed;
$light-teal: #38bcb4;
$light-gray: #f5f5f5;

// Base Styles
body {
  font-family: $body-font;
  font-size: 100%;
  color: $dark-blue;
}
h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 700;
  color: $dark-blue;
}
