// Variables
// --typography
$body-font: "Work Sans", Arial, Helvetica, sans-serif;
$header-font: "Sora", Arial, Helvetica, sans-serif;
// --colors
$dark-blue: #011828;
$light-blue: #078eed;
$light-teal: #38bcb4;
$light-gray: #f5f5f5;
$dark-gray: darken($light-gray, 20%);

// Typography
body {
  font-family: $body-font;
  font-size: 100%;
  color: $dark-blue;
}
h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 700;
  color: $dark-blue;
}
h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1em;
}
p {
  font-size: 1.2em;
}
