// Variables
// --typography
$body-font: "Work Sans", Arial, Helvetica, sans-serif;
$header-font: "Sora", Arial, Helvetica, sans-serif;
// --colors
$black: #0a0b0b;
$light-blue: #00afb5;
$light-red: #fc5130;
$light-gray: #f5f5f5;
$dark-gray: darken($light-gray, 5%);

// Mixins
@mixin custom-links($color) {
  color: $color;
  &:hover {
    background-color: fade-out($color, 0.9);
  }
}

// Typography
body {
  font-family: $body-font;
  font-size: 100%;
  color: $black;
}
h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 700;
  color: $black;
  line-height: 1.2em;
}
h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1em;
}
p {
  font-size: 1.2em;
}
a {
  @include custom-links($light-blue);
}
