@use "base" as *;

.solution-card {
  margin: auto;
  max-width: 30rem;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  overflow: hidden;
  section {
    padding: 1em;
  }
  &:hover {
    box-shadow: 0 0 8px $dark-gray;
  }
}
