@use "base" as *;

.solution-card {
  margin: auto;
  max-width: 25rem;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  overflow: hidden;
  // Text div container
  .card-text {
    padding: 1em;
    display: grid;
    gap: 0.6em;
    // Tool tags
    .tags {
      display: flex;
      list-style: none;
      padding: 0;
      li {
        padding: 0.4em;
        margin-right: 0.5em;
        border: 2px solid fade-out($light-blue, 0.2);
        border-radius: 5em;
        font-weight: 700;
        color: $light-blue;
      }
    }
    // Links to live page & repo
    a {
      font-size: 1.4em;
      margin-right: 0.2em;
      &.live,
      &.repo {
        @include custom-links($light-red);
      }
    }
  }
  .card-image {
    overflow: hidden;
    img {
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
