@use "base" as *;

header {
  background-color: $light-gray;
  padding: 60px;
  @media screen and (max-width: 600px) {
    padding: 35px;
  }
}

// Set up grid at various viewport sizes for solution cards
.solutions-grid {
  padding: 2em;
  display: grid;
  gap: 1em;
  @media screen and (min-width: 830px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1320px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
