@use "reset";
@use "variables" as *;

// Setup
body {
  font-size: 100%;
  font-family: $normal;
  color: $dark-grayish-blue;
  background-color: $cream;
  padding: 1em;
  display: grid;
  grid-template-rows: auto 3em;
}

// Layout
.component {
  margin: auto;
  max-width: 21.5rem;
  border-radius: 10px;
  background-color: $white;
  overflow: hidden;
  section {
    display: grid;
    gap: 1em;
    padding: 25px;
  }
  button {
    width: 100%;
    padding: 1em;
    background-color: $dark-cyan;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $very-dark-blue;
      cursor: pointer;
    }
    img {
      margin-right: 1em;
    }
  }
  @media screen and (min-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37rem;
    section {
      gap: 0.5em;
      padding: 30px;
    }
    button {
      padding: 0.4em;
    }
  }
}

// Typography
h2 {
  font-family: $special;
  font-size: 2em;
  color: $very-dark-blue;
  line-height: 1em;
}
p {
  font-size: $body-copy;
}
.subhead {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.price {
  font-family: $special;
  font-size: 2em;
  color: $dark-cyan;
  display: flex;
  align-items: center;
  s {
    margin-left: 1.5em;
    font-family: $normal;
    font-size: 0.4em;
    color: $dark-grayish-blue;
  }
}
button {
  font-weight: 700;
  font-size: $body-copy;
  color: $white;
}

// Attribution
.attribution {
  font-size: 0.8em;
  text-align: center;
}
